
{{!-- Guidance  --}}
<div class="workspace-section" id="workspace-section-character-guidance-{{id}}">
    <h4>Guidance Context <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-guidance-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-character-guidance-content-{{id}}" class="workspace-section-content">
        
        {{!-- Feedback --}}
        <div class="form-label">Guidance Requested <span class="helper">(Feedback you want...)</span></div>
        <textarea id="inputFeedbackRequested-{{id}}" rows="5" placeholder=""></textarea>

    </div>
</div>







