
<div class="workspace-section" id="workspace-section-fund-{{id}}">
    <h4>Fund the Game <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-fund-content-{{id}}', this)"><i class="fas fa-chevron-down"></i></button></h4>
    <div id="workspace-section-fund-content-{{id}}" class="workspace-section-content collapsed">
        
        
        <div class="workspace-section-image-container">
            <img src="/modules/coffee-pub-blacksmith/images/misc/fund-the-game-qrcode.png" class="workspace-section-image"/>
            <div class="workspace-section-image-caption"><h6>Scan the <b>Venmo</b> QR Code to Contribute</h6></div>
        </div>
        <div class="form-label">Why fund the game?</div>
        <ul>
            <li>Dungeons and Dragons on Foundry VTT has hidden costs</li>
            <li>Consider helping out your GM by offsetting some of them.</li>
        </ul>

    </div>
</div>

