<!-- ENCOUNTER DROPS HERE -->

<!-- ENCOUNTERS --> 
<div class="workspace-section" id="workspace-section-encounters-{{id}}">
    <h4>Linked Encounters<button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-encounters-content-{{id}}', this)"><i class="fas fa-chevron-down"></i></button></h4>
    <div id="workspace-section-encounters-content-{{id}}" class="workspace-section-content">
        <!-- Encounter Container -->   
        <div class="workspace-section-nodivider"></div>
        <div class="encounters-container">
        </div>
        <!-- Drop Zone for Encounters -->
        <div class="panel-drop-zone" id="encounters-drop-zone-{{id}}">
            <div class="drop-zone-content">
                <i class="fas fa-book-open"></i>
                <span>Drop Encounter Journal Pages Here</span>
            </div>
        </div>
        
    </div>
</div>