
{{!-- ----- ASSISTANT WORKSPACE ----- --}}
<div id="regent-query-workspace-assistant" class="workspace-content hidden">
    <h3>Skill Check Assistant</h3>

    {{!-- SKILL ROLLS --}}
    {{> partial-global-skillcheckrolls id="assistant"}}

    <!--  DETAILS -->
    {{> partial-assistant-criteria id="assistant"}}

    {{!-- GLOBAL OPTIONS --}}
    {{> partial-global-options id="assistant"}}

</div>

