
{{!-- ----- WRAPPER ----- --}}
<div id="coffee-pub-regent-wrapper">
{{!-- ----- FORM ----- --}}
<form id="coffee-pub-regent-query">
{{!-- BEGIN Wrapper & Form --}}

    {{!-- ----- CONTAINER  ----- --}}
    <div id="coffee-pub-regent-container">
        <div id='coffee-pub-regent-output' class="regent-output">
            {{!-- Initial welcome as a proper card (same structure as appended messages) --}}
            <div class="regent-message-wrapper">
                <div class="regent-message-header regent-message-header-answer">
                    <i class="fas fa-crystal-ball"></i>
                    <span class="regent-message-speaker">Regent</span>
                </div>
                <div class="regent-message-content">
                    <p>Greetings <b>{{user}}</b>! What brings you here today? Looking to craft a <b>devistating insult</b> to put <b>{{randomuser2}}</b> in their place? Need to fabricate a <b>rumor</b> about <b>{{randomuser1}}</b> to make your life seem better? I am here for all your needs.</p>
                </div>
                <div class="regent-message-divider">Let the chronicles of your valor unfold!</div>
            </div>
        </div>
        <div id="coffee-pub-regent-input">
            {{!-- Message input: full width --}}
            <textarea rows="3" id='regent-input-message' name='regent-input-message' class="regent-textarea"></textarea>
            <div id="regent-message-options" class="toolbar-left"></div>
        </div>
    </div>

    {{!-- ----- WORKSPACE WRAPPER (always expanded to the right of chat) ----- --}}
    <div id="regent-workspace-wrapper">
    {{!-- BEGIN Workspace --}}
        {{!-- ----- WORKSPACE CONTENT ----- --}}
        <div id="regent-workspace-content">
        {{!-- BEGIN Content --}}

            {{!-- ----- ADD THE WORKSPACES HERE ----- --}}
            {{!-- -----LOOKUP WORKSPACE ----- --}}
            {{> window-query-workspace-lookup id="lookup"}}
            
            {{!-- ----- LOOKUP WORKSPACE ----- --}}
            {{> window-query-workspace-assistant id="assistant"}}

            {{!-- ----- ENCOUNTER WORKSPACE ----- --}}  
            {{> window-query-workspace-encounter id="encounter"}}

            {{!-- ----- NARRATIVE WORKSPACE ----- --}}
            {{> window-query-workspace-narrative id="narrative"}}

            {{!-- ----- CHARACTER WORKSPACE ----- --}}
            {{> window-query-workspace-character id="character"}}

        {{!-- END Content --}}
        </div>

        {{!-- ----- WORKSPACE FOOTER ----- --}}
        <div id="regent-workspace-footer">
            {{!-- BEGIN Footer --}}

            {{!-- WORKSPACE SELECTOR --}}
            <div id="regent-workspace-toolbar" class="toolbar-left">

                {{!-- WORKSPACE: Lookup --}}
                <button type="button" id="regent-query-button-lookup" title="SRD Lookup">
                    <i class="fas fa-bolt"></i>
                </button>

                {{!-- WORKSPACE: Character Guidance --}}    
                <button type="button" id="regent-query-button-character" title="Character Guidance">
                    <i class="fas fa-helmet-battle"></i>  
                </button>

                {{!-- GM Workspaces --}}
                {{#if isGM}}
                    <div class="regent-workspace-toolbar-divider"></div>
                    {{!-- WORKSPACE: Assistant --}}
                    <button type="button" id="regent-query-button-assistant" title="Skill Check Assistant">
                        <i class="fa-solid fa-hammer-brush"></i>
                    </button>

                    {{!-- WORKSPACE: Encounter --}}
                    <button type="button" id="regent-query-button-encounter" title="Quick Encounter">
                        <i class="fa-solid fa-swords"></i>
                        </button>

                    {{!-- WORKSPACE: Narrative --}}
                    <button type="button" id="regent-query-button-narrative" title="Narrative Generator">
                        <i class="fas fa-theater-masks"></i>
                </button>
                {{/if}}
            </div>

            {{!-- END Footer --}}
        </div>            


    {{!-- END Workspace --}}
    </div>

{{!-- END Wrapper & Form --}}
</form>  
 </div>
