{{!-- ----- NARRATIVE WORKSPACE ----- --}}
<div id="regent-query-workspace-encounter" class="workspace-content hidden">
    <h3>Encounter Generator</h3>

    <!-- SETTINGS -->
    {{> partial-narrative-settings id="encounter"}}

    <!-- ENCOUNTER SCRIPTS -->
    {{> partial-encounter-scripts id="encounter"}}

    <!-- GEOGRAPHY -->
    {{> partial-narrative-geography id="encounter"}}

    <!-- ENCOUNTER CONFIGURATION -->
    {{> partial-encounter-configuration id="encounter"}}

    <!-- ENCOUNTER MONSTERS -->
    {{> partial-encounter-monsters id="encounter"}} 

    <!-- ENCOUNTER PARTY -->
    {{> partial-encounter-party id="encounter"}} 

    <!-- ENCOUNTER WORKSHEET -->
    {{> partial-encounter-worksheet id="encounter"}} 

    <!-- ENCOUNTER NPCS -->
    {{> partial-encounter-npcs id="encounter"}} 
    
    <!-- NARRATIVE DETAILS -->
    <!-- {{> partial-narrative-details id="encounter"}} -->

    <!-- NARRATIVE IMAGE -->
    <!-- {{> partial-narrative-image id="encounter"}} -->

    <!-- REWARDS -->
    {{> partial-narrative-rewards id="encounter"}}

    {{!-- GLOBAL OPTIONS --}}
    {{> partial-global-options id="encounter"}}

</div>