{{!-- ----- NARRATIVE WORKSPACE ----- --}}
<div id="regent-query-workspace-narrative" class="workspace-content hidden">
    <h3>Narrative Wordsmith</h3>

    <!-- SETTINGS -->
    {{> partial-narrative-settings id="narrative"}}

    <!-- GEOGRAPHY -->
    {{> partial-narrative-geography id="narrative"}}

    <!-- NARRATIVE DETAILS -->
    {{> partial-narrative-details id="narrative"}}

    <!-- NARRATIVE DETAILS -->
    {{> partial-narrative-image id="narrative"}}

    <!-- REWARDS -->
    {{> partial-narrative-rewards id="narrative"}}


    <!-- ENCOUNTER SCRIPTS -->
    {{> partial-encounter-scripts id="narrative"}}


    <!-- ENCOUNTER lINKS -->
    {{> partial-narrative-encounters id="narrative"}} 


    <!-- ENCOUNTER CHARACTERS -->
    {{> partial-narrative-characters id="narrative"}} 

    {{!-- GLOBAL OPTIONS --}}
    {{> partial-global-options id="narrative"}}

</div>
