{{!-- ----- CHARACTER WORKSPACE ----- --}}
<div id="regent-query-workspace-character" class="workspace-content hidden">
    <h3>Character Guidance</h3>
    
    {{!-- CHARACTER GUIDANCE --}}
    {{> partial-character-guidance id="character"}}

    {{!-- CHARACTER SECTIONS --}}
    {{> partial-character-core id="character"}}
    {{> partial-character-abilities id="character"}}
    {{> partial-character-skills id="character"}}
    {{> partial-character-features id="character"}}
    {{> partial-character-weapons id="character"}}
    {{> partial-character-spells id="character"}}
    {{> partial-character-biography id="character"}}

    {{!-- GLOBAL OPTIONS --}}
    {{> partial-global-options id="character"}}
</div>
    