
{{!-- ----- NARRATIVE WORKSPACE ----- --}}
<div id="regent-query-workspace-lookup" class="workspace-content">
    <h3>D&D 5e Lookup</h3>
    
    <!-- SKILL ROLLS -->
    {{> partial-lookup-srdrules id="lookup"}}
    

    {{!-- GLOBAL OPTIONS --}}
    {{> partial-global-options id="lookup"}}

</div>